.full-height{
  height:100%;
}
.text{
    font-size:300%;
  color:gray;
}.text1{
  font-size:150%;
color:black;
}.text2{
  font-size:150%;
color:gainsboro;
}
.text-color{
  font-size:100%;
  color:skyblue;
}